[2016-12-27 21:29] ChuckJonas opened #1 "Visualforce autocomplete breaks when typing `:`"
If you type `<apex:` the autocomplete is terminated... Need to figure out how to not treat `:` as a word terminator.

[2016-12-27 21:31] ChuckJonas opened #2 "Add auto-complete on VisualForce attributes"
Nice to Have:

When auto-complete attributes, move cursor to inside of attribute `"`'s and show available options.

For Example:  `<apex:outputpanel layout="|"`

Should show: `none`, `block`, `inline`, etc

[2016-12-30 08:23] carlosabella opened #3 "Doesn't work on Windows"
Hi ChuckJonas,

This plugin doesen't works for me. This is my folder structure:
![image](https://cloud.githubusercontent.com/assets/4191627/21561723/c7eec066-ce70-11e6-82fb-461449ba94f6.png)

And this is my workspace settings:
![image](https://cloud.githubusercontent.com/assets/4191627/21561760/5358b030-ce71-11e6-8f80-dffb572fabda.png)
I don't know what I am doing wrong.

Thanks!

[2016-12-30 19:35] ChuckJonas commented on #3
@carlosabella

What OS are you using?

[2016-12-30 20:18] carlosabella commented on #3
@ChuckJonas  Windows 7   x64 bit

[2016-12-30 21:45] ChuckJonas commented on #3
@carlosabella I think I've fixed the issue but only tested on a virtual machine...

Can you update and see if it works now?

[2017-02-09 09:50] eliver opened #4 "Intellisense for Javascript is unavailable in visual force page"
Visual force page oretty much like html, so it would be greatful if we can put HTML's intellisence and some features (Go to definion, format document etc.) to visual force page.

[2017-02-09 13:02] eliver opened #5 "Go to definition & peek definition not work well on Windows"
VS code pops up **Unable to open '': Invalid file resource (file://c:\users\salesforce\***\src\classes\***.cls).**
when trying to go to definition.

BTW, the correct path should be "c:\users\salesforce\***\src\classes\***.cls" on windows.

[2017-02-09 15:32] ChuckJonas commented on #5
:faceplam: I feel dumb...

Thank for the feedback, I'll get a fix up today!

[2017-02-09 15:34] ChuckJonas commented on #4
Ya, I agree and will look into it.  The completion for VF is pretty buggy and needs work in general.

[2017-02-09 21:58] ChuckJonas commented on #5
@eliver I just released a _potential_ fix... Could you update to `0.2.2` and see if it resolves the issue?  I tried to test on a virtual windows machine, but I couldn't get dependancies setup properly

[2017-02-10 01:18] ChuckJonas opened #6 "Replace visualforce static reference with tooling API completions"
retrieve & cache json from here: /services/data/v38.0/tooling/completions?type=visualforce

[2017-02-10 02:48] eliver commented on #5
@ChuckJonas Thanks for quick response.  In the latest version it shows an error below line
![untitled](https://cloud.githubusercontent.com/assets/9433335/22812147/fead0828-ef7d-11e6-9c17-0c704ddffe14.png)

[2017-02-10 03:23] ChuckJonas commented on #5
damn... I really gotta get a windows env setup so I can test these fixes... Just published another fix that I think will get it... let me know either way

[2017-02-10 05:09] eliver commented on #5
@ChuckJonas This has been fixed in the latest version. Thanks again.

[2017-02-10 05:09] #5 closed

[2017-02-10 09:21] carlosabella commented on #3
Hi there, I am sorry ... I totally forgot to close this issue. It is working perfectly!!

Thanks a lot.

[2017-02-10 09:21] #3 closed

[2017-02-10 16:44] fricco opened #7 "The addon is not working at all in my Apex classes"
Hello, I have done everything that was documented to configure this plug in, but this is still not working for me.
The Go To Definition option doesn't do anything.
The auto completion doesn't work for SObjects
The auto completion doesn't work for apex classes, nor method within the same class
Thanks

[2017-02-10 17:40] ChuckJonas commented on #7
@fricco  can you provide me with some additional information:

1: What OS are you running?

2: Have you properly configured `apexAutoComplete.userName` , `apexAutoComplete.password` (password+security token)  & `apexAutoComplete.instanceUrl` in your workspace settings?

3: Is the `src` folder in the root of your workspace?

4: Open a terminal and run: `java -version`.  Output?

Also, completion fo

[2017-02-10 17:56] fricco commented on #7
@ChuckJonas I have to say, great addons do (i'm using the Apex PMD as well and I love it :) ), don't get me wrong ;)
Sorry I missed to put this portant information:
1- Windows 7 64
2- Yes, Have username and password (no token required) and using the test.salesforce.com as it's a sandbox.
3- Maybe this is what I'm doing wrong, as I don't know where I define this, but I opened the src folder from VS

[2017-02-10 18:19] ChuckJonas commented on #7
@fricco ya I think the issue might be 3.  I should maybe it configurable in the future, but right now your workspace needs to look like this in regards to `src`:

![workerqueue_cls_-_sandbox](https://cloud.githubusercontent.com/assets/5217568/22838520/d0e3f8de-ef82-11e6-8a9c-cffd4a058404.png)

[2017-02-10 19:12] fricco commented on #7
@ChuckJonas that is what I have. Although I have several other metadata folders as well, can that be an issue?
![image](https://cloud.githubusercontent.com/assets/8302696/22840291/88c424a6-ef92-11e6-9c8d-96ba89178742.png)

[2017-02-11 01:48] ChuckJonas commented on #7
@fricco no, it doesn't matter what you have under `src` as long as you have classes.  The issue is that it is expecting there to be a folder `src` under the workspace (not that the workspace _is_ `src`).  I'll see if I can add a setting so you can define where the `classes` folder is (`/` in you case).

[2017-02-11 17:07] fricco commented on #7
Ok, i tried that one as well and it doesn't work:
![image](https://cloud.githubusercontent.com/assets/8302696/22855723/3e461322-f04a-11e6-8deb-7e96b24b7d06.png)

[2017-02-13 20:41] ChuckJonas commented on #7
in that case I'm not sure...

Your best bet would be to try and call the force-tooling jar directly in your command line.

In vscode run "Open Extension Folder".  The navigate to `chuckjonas.apex-autocomplete-0.2.4/bin`.  Then try to run:

`java -jar tooling-force.jar --action= listCompletions  --projectPath='\path\to\project' --responseFilePath='path\to\outputfile.txt' --currentFilePath='path\to\

[2017-02-14 17:50] k-bentsen opened #8 "Problems generated when typing in editor"
As I start typing in the editor, problems start to appear output panel. First, a "no viable alternative at input..." error appears:
![screen shot 2017-02-13 at 3 12 36 pm](https://cloud.githubusercontent.com/assets/5178208/22940756/e3e9fd3a-f297-11e6-8c21-65b53c18f3df.png)

If I complete the method call with open & close parantheses, a different error message appears:
![screen shot 2017-02-13 at 3

[2017-02-14 21:24] ChuckJonas commented on #8
It's because you have `"apexAutoComplete.checkSyntax": true` enabled.  Basically this will tell you anytime the syntax in your code is invalid (and hopefully save you the wait from having to compile it on salesforce).  Unfortunately, the error messages are not the best.

If you don't like this feature, just set `"apexAutoComplete.checkSyntax": false`

[2017-02-14 21:25] #8 closed

[2017-02-17 02:24] eliver commented on #7
@fricco Can you please take a look at java.exe process when you open vs code and then press any codes in apex files? In my case, the java process will take a huge memory usage when first activating the extension, after that the extension can be runs as expected.

[2017-02-17 14:55] fricco commented on #7
@eliver I have VSCode opened for a whole day and still this doesn't work...

[2017-02-22 12:49] Luca-Terrazzan opened #9 "Incredibly slow autocompletion time and CPU drain"
Invoking an autocompletion (even normal VS code ones like variable suggestions) takes up to **15 seconds** when this plugin is active. Most funcionalities work though (sneak peek, go to, etc...). Not only this makes the plugin unusable, but also breaks the standard VS Code autocompletion.

Also, while the suggestion process is ongoing, the Java process used to get the autocompletion uses an outrag

[2017-02-22 14:18] Luca-Terrazzan opened #10 "Extensions causing BSOD on Windows"
// related to https://github.com/ChuckJonas/vscode-apex-autocomplete/issues/9
In certain conditions (for example while editing a multiline string) the extension makes the OS crash, generating a BSOD after a couple minutes. Seems like a CPU/RAM usage issue.

[2017-02-22 23:55] ChuckJonas commented on #9
You might try turning off `"apexAutoComplete.checkSyntax": false` (although I doubt that will make much of a difference)...  Can you confirm that only one instance of java is running (i guess it could be possible its kicking over multiple java servers)?

This extension is pretty much a proxy for [tooling-force](https://github.com/neowit/tooling-force.com), so I'm not really sure what else couple b

[2017-02-23 10:54] Luca-Terrazzan commented on #9
Actually, disabling the check syntax feature helped quite a lot! In fact, I'd say that the extension is now working properly. It's not an ideal fix but the autocompletion was what I was after :)

[2017-02-23 10:54] #9 closed

[2017-02-23 10:55] Luca-Terrazzan commented on #10
Solved with a workaround disabling the syntax features of the extension

[2017-02-23 10:55] #10 closed

[2017-02-23 15:00] ChuckJonas commented on #9
Interesting... It must just be the shear throughput of requests that are made that was slowing it down (currently does one everytime the file changes).  I'll see if I can add a different mode that does send off so many requests.  Could easily make it fire on save but that doesn't really help since you've probably also just send a compilation request.

[2017-02-23 16:54] ChuckJonas commented on #9
@Luca-Terrazzan I went ahead and added a delay (configurable) to the `checkSyntax` functionality so that it doesn't run until X ms (defaulted to 400) after you stop typing.

I think this should allow you to enable this feature.  If its still slowing things down, you could try increasing the `checkSyntaxDelay` setting.

[2017-02-24 10:25] Luca-Terrazzan commented on #9
Supercool, I'll try this feature and get back with some feedback

[2017-02-24 11:42] Luca-Terrazzan commented on #9
Tried it a bit (tweaked the delay to 1sec) and seems to be pretty functioning. I guess it's ok for now yay! (the only issue now is that the ongoing java process is sitting permanently at 820MB RAM usage)

[2017-02-24 14:41] ChuckJonas commented on #9
Ya, unfortunately I think that's just the price to cache all the structures and relationships. It does seem high, but I don't see that grow very much as you run it longer  (indicating it's probably not a memory leek issue). I'll check with the developer to see if he's maybe storing more structure than needed.

[2017-03-18 14:25] fuure commented on #7
Hi, i have the same problem as @fricco , this is my tooling-force.jar output and java version

![image](https://cloud.githubusercontent.com/assets/21955834/24072930/713727dc-0bcd-11e7-8bb3-f7b365047c76.png)

Hopefully this helps

Windows 10 x64 btw

[2017-03-19 18:50] ChuckJonas commented on #7
@fricco @fricco I added a output console so we can see the commands that are running.

If you update, you should be able to open it up by running: `Show Apex Autocomplete Debug Output`.

I could have probably added more detailed logging, but hopefully something will stick out as incorrect.

**WARNING**:  Be careful where you paste the output of this as it will include the username and password in

[2017-03-19 19:05] fuure commented on #7
I think this is why it fails

`[ERROR] CheckSyntax - Syntax error:: line: 15, pos: 1, msg: no viable alternative at input 'a.}'`
`[ERROR] CheckSyntax - Syntax error:: line: 15, pos: 1, msg: no viable alternative at input 'a.N}'`

In all my tests it seems to add a closing curly bracket at the end of the evaluated text.

[2017-03-19 19:49] ChuckJonas commented on #7
@fuure I don't think that would be the issue.  That's the excepted output of check syntax if you were to put something like this:

[code]

Curious, do you get a green squiggle line after the statement?

![_extension_development_host__-_googleclient_cls_-_ccc-sfdc](https://cloud.githubusercontent.com/assets/5217568/24084095/7137de16-0ca9-11e7-8376-2659ab988b4b.png)

For debugging the `Go-To Definit

[2017-03-19 22:01] fuure commented on #7
Ok, here

![image](https://cloud.githubusercontent.com/assets/21955834/24085186/004a60ac-0cd6-11e7-9ce5-e3b6471c9c7b.png)

My "Blueprint.cls" contains just the following:

[code]

And about the squiggle... I get a red one, and only after saving the file.

![image](https://cloud.githubusercontent.com/assets/21955834/24085206/638053a2-0cd6-11e7-8e76-c3b4ad43b3b8.png)

Hopefully this helps, I'll be h

[2017-03-20 00:34] ChuckJonas commented on #7
@fuure  Does auto-complete only not work on sObjects?  That likely means the plugin is failing to authenticate.   I see that your URL is `login.salesforce.com`.  Is this a sandbox environment or a developer org?

[2017-03-20 00:48] fuure commented on #7
Yeah, it is a dev org, but I also have this very same problem with all the sandboxes on my workplace PC (Win7 x64).

Just made a new custom object to test, same problem.

Now that you mention authentication, I'm working on a personal project that involves the Tooling API which you also seem to be using in this, ¿Is it necessary to add my IP or something to the remote site settings in the security

[2017-03-20 02:48] ChuckJonas commented on #7
The one thing that sticks out is how long its taking to run the commands.  The SObjects typically take a little bit longer as it has to query definitions from the tooling api, but mine typically takes about 3 seconds for the first run and < .1 seconds for all subsequent runs.

You shouldn't have to do anything configuration in salesforce for this library to work.

Your command is almost taking a f

[2017-03-20 02:59] fuure commented on #7
@ChuckJonas wow, the three json files (checkSyntaxResult, findSymbolResult, listCompletionsResult) in there actually are full of the correct results.

So yeah, the length of the execution of the jar seems to be the problem here.

This is a brand new dev org with just a class I made for tests and other classes from [another project](https://github.com/afawcett/apex-toolingapi), there's a [single fi

[2017-03-20 08:12] neowit commented on #7
Hello @fuure

What version of tooling-force.com jar you have?

Are you saying that the the file you [linked](https://github.com/afawcett/apex-toolingapi/blob/master/src/classes/ToolingAPIWSDLMetadata.cls) seems to cause slow response time and if you remove it then response time drops ?

I just tested apex completion after adding [ToolingAPIWSDLMetadata.cls](https://github.com/afawcett/apex-tooling

[2017-03-20 11:12] fuure commented on #7
@neowit I dunno if this is correct, but this is the version pointed out inside the META-INF/manifest.mf file:

[code]

And yes, by manually calling the jar I noticed that file was taking a lot of time.

But maybe it was the [previous file in the list](https://github.com/afawcett/apex-toolingapi/blob/master/src/classes/ToolingAPIWSDL.cls). Actually is makes more sense the problem resides in the fil

[2017-03-20 12:55] neowit commented on #7
@fuure

Unfortunately Manifest file is just a dummy and does not contain actual version.
If you are able to call tooling-force.com jar manually then you can find its version like so
[code]

How exactly did you call the jar manually ?
Was it via java command line, like I did above for '--version' ? If so then keep in mind that this runs it in non server mode which means it needs to scan classes (an

[2017-03-20 16:57] ChuckJonas commented on #7
@neowit the most recent version is packaged with my extension.  The extension spins up a server on start and makes all calls through it.

Example request:  `--action=findSymbol  --projectPath='/Users/user/Documents/mm/ccc-sfdc' --responseFilePath='/Users/user/Documents/code/apex-autocomplete/bin/findSymbolResult.json' --pollWaitMillis=1000 --maxPollRequests=1000 --currentFilePath='/Users/user/Docu

[2017-03-21 00:55] fuure commented on #7
@neowit

This is my version of the tooling-force.jar:

[code]

And yeah, I called the jar manually by console, check my previous responses to @ChuckJonas where there's more detail about it. I did it just for testing purposes.

Can you check creating the ToolingAPIWSDL.cls file? I think that might be the offending one.

And I tried calling with the String, no autocomplete too.

@ChuckJonas

I tried

[2017-03-21 07:16] ChuckJonas commented on #7
@fuure That `ECONNRESET` seems like a likely culprit.   Might have something to do with the port (I should probably allow that to be configured).  But an error doesn't show up in the `Show Apex Autocomplete Debug Output`?

 What happens if you run this on your command line:  `java -Dfile.encoding=UTF-8  -jar [PATH_TO_JAR] --action=serverStart --port=65000 --timeoutSec=1800`

[2017-03-21 10:42] fuure commented on #7
@ChuckJonas

Ok, some discoveries here

First, no, there are no errors showing in the Autocomplete debug output, just the calls

By starting the server manually I get an exception

`[ERROR] Executor - java.net.BindException: Address already in use: JVM_Bind`

With netstat -anb I was able to find the application using the port, `ss_conn_service.exe` is the name of the executable, and it is related

[2017-03-21 16:30] ChuckJonas commented on #7
@fuure that must be the issue!

Just pushed a new update that allows you to configure the port and gives better output if it is already in use.

can you update and set `apexAutoComplete.port` to an open port in your user setting?

Hopefully it will work after doing that.

[2017-03-21 16:52] fuure commented on #7
@ChuckJonas works perfectly! that was it, thank you man, you just saved me from the claws of eclipse!

[2017-03-21 16:56] ChuckJonas commented on #7
awesome! thanks for helping to make this tool better.  Let me know if you have any other feedback

[2017-03-21 16:56] #7 closed

[2017-03-22 01:36] fuure opened #11 "Autocompletion shouldn't fill the full method description"
For example:

![image](https://cloud.githubusercontent.com/assets/21955834/24178171/39d4acd6-0e86-11e7-9ad2-1e013aae6205.png)

Either tabbing, clicking the method or pressing enter provokes this:

![image](https://cloud.githubusercontent.com/assets/21955834/24178255/ca551098-0e86-11e7-847c-c63d797fb92c.png)

The expected behavior should be just completing the method name, just before the first par

[2017-03-22 01:44] fuure opened #12 "Default suggestion should be the first one in the autocompletion list"
If we press dot, the autocompletion list pops out, defaulting to the first item on the list, pressing enter or tabbing pastes the first suggestions as it should.

![image](https://cloud.githubusercontent.com/assets/21955834/24178343/47fe4ec4-0e87-11e7-9361-c1de007f9c32.png)

But, after looking for another method, the default suggestion somehow shifts to different items.

![image](https://cloud.git

[2017-03-22 04:12] ChuckJonas commented on #12
unfortunately i'm not sure if I have control over this.  I think this is the vscode completion engine at this point (i just return the results).

[2017-03-22 04:49] ChuckJonas commented on #11
While I agree this is the ideal behavior, it relies on having [Method Signature Help](https://code.visualstudio.com/docs/extensionAPI/language-support#_help-with-function-and-method-signatures).

Apex autocomplete currently doesn't have this service and without it, filling in parameters on complex signatures is not very productive.

It potentially could be added by calling by calling completion on

[2017-03-22 04:57] ChuckJonas commented on #11
To add to that, this is the model I would need to be able to provide:

[code]

[2017-03-22 09:08] neowit commented on #11
Hello @ChuckJonas

if we are talking about
[code]

resulting in
[code]
then `tooling-force.com.jar` provides necessary information for this.
Use parameter `identity` from completion response
[code]

Here is how it works in vim
![completion2](https://cloud.githubusercontent.com/assets/552057/24189993/083c4950-0edf-11e7-9a37-4b9a6a9baa58.gif)

[2017-03-22 17:02] ChuckJonas commented on #11
@neowit so not quite.

This is to get [Method Signature Help](https://code.visualstudio.com/docs/extensionAPI/language-support#_help-with-function-and-method-signatures) after the completion has been evoked. Currently I have the completion write out the signature because I don't support signature help.

Given:

`Schema.describesobjects(`

I think I can get what I need by calling `findSymbol` on `d

[2017-03-22 17:31] neowit commented on #11
@ChuckJonas not sure I understand.

If I am reading original post correctly - the issue was that if one calls

[code]

and select `describesobjects` from the list

then the end result currently is
[code]

while desired behaviour (according to OP) is to end up with
[code]

Not sure if OP was about getting “Method Signature Help” after completion was done.
Perhaps @fuure could clarify ?

[2017-03-22 17:42] ChuckJonas commented on #11
@neowit ya the original post is suggesting that the autocomplete should function as you have outlined above.

However, I'm reluctant to make that change unless I can provide method signature help.

[2017-03-24 17:32] Sylvainp-Ribbonfish opened #13 "Functionality not working"
Hi,

I have installed the plugin, I managed to make it work for few seconds but then works sometime and I have this:
![screen shot 2017-03-24 at 17 31 08](https://cloud.githubusercontent.com/assets/10757268/24306214/b8e3995a-10b7-11e7-8558-f1f821e1cee1.png)

So I don't know what is wrong and also sometimes comments won't generate properly on the Information panel with the same comment working on o

[2017-03-24 17:35] ChuckJonas commented on #13
Project is still active (pretty much updated weekly).

Can you run `Show Apex Autocomplete Debug Output` and paste the results from when its not working?  Be careful not to include your password.

Also....

What OS are you running?

[2017-03-24 17:38] Sylvainp-Ribbonfish commented on #13
Hi,

I'm on Mac os, and the following requested:
[INFO] Executor - # Time taken: 2.102s

[ERROR] CheckSyntax - Syntax error:: line: 24, pos: 4, msg: no viable alternative at input 'Opport}'

[ERROR] CheckSyntax - Syntax error:: line: 24, pos: 4, msg: no viable alternative at input 'Opport}'

(The debugger works that you made).

[2017-03-24 17:39] Sylvainp-Ribbonfish commented on #13
![screen shot 2017-03-24 at 17 38 40](https://cloud.githubusercontent.com/assets/10757268/24306512/c4a9718c-10b8-11e7-9bd4-2b7f7b934a66.png)
When it works it show that however I have a class called: OpportunityTriggerHandler not showing.

[2017-03-24 17:41] Sylvainp-Ribbonfish commented on #13
[ERROR] CheckSyntax - Syntax error:: line: 24, pos: 4, msg: no viable alternative at input 'Opportunity}' => I typed Opportunity

[2017-03-24 20:14] fflores-rccl opened #14 "Trigger declaration not recognized"
Hi!

I opened and edited a trigger and on the declaration line I get "[ERROR] CheckSyntax - Syntax error:: line: 9, pos: 0, msg: mismatched input 'trigger' expecting {<EOF>, 'override', 'virtual', 'with', 'without', 'abstract', 'class', 'enum', 'final', 'import', 'interface', 'package', 'private', 'protected', 'public', 'static', 'global', 'webservice', TESTMETHOD, ';', '@'}"

The declarion line r

[2017-03-24 20:45] ChuckJonas commented on #13
That's just the syntax checking that your pasting into the output.   The autocomplete only completes on the `.` notation.   It currently doesn't autocomplete class or object names as you are typing.  It should work with methods & properties.  If it doesn't work, then please send me the log after you try the dot notation.  It should say something like `CMD: action="listCompletions"`

[2017-03-24 20:50] ChuckJonas commented on #14
Actually the check syntax command shouldn't have anything to do with the autocompletion.  Auto-completion just currently isn't supported in triggers by the [tooling-force.com](https://github.com/neowit/tooling-force.com) library.

Looking at the commit history, it looks like @neowit might be working on it.

[2017-03-24 21:06] fflores-rccl commented on #14
Thanks for the clarification and prompt reply. I really like using Salesforce Auto-Complete+, it is an awesome tool. Always looking forward to future enhancements! Regards.

[2017-03-27 07:37] carlosabella commented on #13
Hi,

I have some mates in my company facing same problems. And it is interesting this command you posted: Show Apex Autocomplete Debug Output

I am using windows 7 and I put this command on VSCode Debug Console. But I got this Message "Please start a debug session to evaluate"

How can I use " Apex Autocomplete Debug Output "?
![image](https://cloud.githubusercontent.com/assets/4191627/24345535/00

[2017-03-27 08:42] Sylvainp-Ribbonfish commented on #13
Ok I got it is working as you said however I still have a small issue regarding the comment display in the 'i' bubble:
[ERROR] CheckSyntax - Syntax error:: line: 25, pos: 4, msg: no viable alternative at input 'DataFactory.}' => This is showing even when it is working.

The screenshots:
![screen shot 2017-03-27 at 09 34 56](https://cloud.githubusercontent.com/assets/10757268/24347842/9ec1894e-12d1

[2017-03-27 16:00] ChuckJonas commented on #13
`[ERROR] CheckSyntax - Syntax error:: line: 25, pos: 4, msg: no viable alternative at input 'DataFactory.}` is from the "Syntax checking" functionality and has nothing to do with autocomplete (it's what causes the green squiggle to show up on the next line).

I'm not sure why the comment wouldn't load, given that the completion is being provided properly and the comment is properly formatted.

Thi

[2017-03-27 16:05] Sylvainp-Ribbonfish commented on #13
Ok no problems thanks for your help 👍

[2017-03-27 16:05] #13 closed

[2017-03-27 16:56] carlosabella opened #15 "Show Apex Autocomplete Debug Output"
Hi,

I've seen in other issues you are using this command: Show Apex Autocomplete Debug Output

But I don't know where to run this command. I have some mates in my company that are having problems with this plugin; I woud like to help them to debug their problems.

Thanks!

[2017-03-27 17:02] ChuckJonas commented on #15
you can run it from the command pallet just like any other command in vscode.  On mac, the shortcut is `cmd-shift-p` to bring up the command pallet.

![package-generator_and_show_apex_autocomplete_debug_output_ _issue__15_ _chuckjonas_vscode-apex-autocomplete](https://cloud.githubusercontent.com/assets/5217568/24368242/eb4f8120-12dc-11e7-97c5-5d42c9680bb6.png)

[2017-03-27 17:07] carlosabella commented on #15
Great!!
thanks a lot!

[2017-03-27 17:07] #15 closed

[2017-03-28 07:38] carlosabella opened #16 "Plugin does not working in some orgs"
Hi there,

I have some orgs working perfectly with the plugin but I have one that I am getting this error:

[Ljava.lang.StackTraceElement;@3ef42a

Could you please help me?

Thanks!

[2017-03-28 08:08] ChuckJonas commented on #16
is that the full error?

[2017-04-24 16:56] toadgeek opened #17 "CPU usage extremely high and no results"
Hi there. First of all, thanks for taking some time to help me with this issue.

This add-on is not working at all for me and I can't understand why. After installing and setting it up, the CPU usage is skyrocketing, and I get no results from the autocomplete.

- macOS Sierra 10.12.4 (16E195)
- VS Code Version 1.11.2 (1.11.2)
- apexAutoComplete.userName , apexAutoComplete.password (password+securi

[2017-04-24 17:27] ChuckJonas commented on #17
@toadgeek how big is your project and what are the general specs on your machine?

[2017-04-24 17:43] toadgeek commented on #17
We currently have 2307 classes and my machine specs are:

Processor i7 2.7 Ghz, 16 GB DDR3 (Macbook Pro Retuba 15-inch)

Other plugins: Apex Syntax, ForceCode, Git, Sublime Text Keymap, Visualforce Syntax.

[2017-04-24 18:28] ChuckJonas commented on #17
@toadgeek congradulations you win for the largest project I've come across.  My guess would be that vscode is timing out the autocomplete request before it has a chance to respond.   Could you try to load up a smaller project or reduce the number of classes and see if it starts to respond?

Also running `Show Apex Autocomplete Debug console`  (using `cmp-shift-p`) will allow us to see a bit more i

[2017-04-24 18:42] toadgeek commented on #17
I've changed checkSyntax to false. This is what I got from the debug console:

[INFO] Executor - # Time taken: 15.014s

[INFO] Executor - # Time taken: 24.928s

[INFO] Executor - # Time taken: 30.02s

Every time I type something, it starts to scan all the files again, and stops eventually without returning the results. I guess you're right, I guess it's hitting some timeout.

[2017-04-24 18:58] ChuckJonas commented on #17
that's weird, you should see a log for the initiating command as well.  Also, after you disable `checkSyntax`, you would need to restart vscode for it to take effect.

[2017-04-25 08:53] neowit commented on #17
Yes I have, but only for syntax check (as part of CI), and would not recommend using code completion on such a project. Initial parsing will take several minutes.

Syntax check on a single file should not be an issue, as it deals with just one file.
Code completion however has to take the whole project into consideration which means it has to:

1. parse every single apex class (which includes synt

[2017-04-25 12:28] toadgeek commented on #17
Alright, thanks for the update and the explanation, @neowit and @ChuckJonas. I'll try to use it in smaller projects.

[2017-04-25 12:28] #17 closed

[2017-04-25 14:20] ChuckJonas commented on #17
@toadgeek I know it's less than ideal, but you could try to just pull down a subset of classes to work.  Thanks for submitting this issue, good to know the limits of this tool.

[2017-05-25 19:21] IndigoTea opened #21 "Getting "Invalid file resource" for valid files (but only on Windows machine)"
![invalid_file_msg](https://cloud.githubusercontent.com/assets/11982840/26466689/443140f2-4155-11e7-8bea-138d4ebc85f4.PNG)

We're test-driving this for our org; my co-worker, who works on a Mac, has this working right out of the box. I'm using the same setup, but on Win10, and get the error as seen in the image above. Any suggestions?

[2017-05-27 14:46] jamessimone commented on #21
I am using VS code 1.12.2 and this started happening to me a few releases ago - perhaps 4 weeks ago in total?  I just tried to uninstall the plugin and re-install it, and now I get an error message when trying to install it.

[2017-05-27 19:02] ChuckJonas commented on #21
@IndigoTea @jamessimone does this happen after any particular action?

The newest releases of vscode have made this extension more buggy (I'm a bit swamped right now but hope to be able to take a look soon).

[2017-05-27 19:32] IndigoTea commented on #21
This was after initial install of the extension, and opening up a SF project; tried both F12 and right-click, same results - even if the origin was in the same page. I'm still very new to VS Code and SF (C#/Visual Studio background).

[2017-05-27 22:25] jamessimone commented on #21
@ChuckJonas which version of VS code are you running at the moment?  I just went back to 1.10.2 and still no luck, unfortunately - although at least this time I was able to re-install the plugin!

[2017-05-29 16:48] ChuckJonas commented on #21
@jamessimone I'm running the 1.12.1, but I actually think it might have to do with the new Document Symbol provider I added in 0.2.7.  I'll try to fire up a windows VM today and see if I can't replicate it.

[2017-05-30 06:19] davidCburke opened #22 "Peak Definition Doesn't Load"
Hi,

When peaking definition the window appears with the word loading but that's as far as it gets.

I'm running Windows 10, Thanks

Output below:

`Sending CMD: --action=findSymbol  --projectPath='c:\Mavensmate\Emerald_Dev_Grain_Mate' --responseFilePath='C:\Users\david\.vscode\extensions\chuckjonas.apex-autocomplete-0.2.10\bin\findSymbolResult.json' --pollWaitMillis=1000 --maxPollRequests=1000 --

[2017-05-30 13:40] IndigoTea commented on #21
@ChuckJonas - whatever you can do, we'd greatly appreciate it. I can supply you the output in VS Code if it would be of any help. Your extension definitely fills a missing gap in VS Code usability for Salesforce development - thank you for your work on this!

[2017-06-13 12:08] svelamoor commented on #21
@IndigoTea, @ChuckJonas  - There's a small fix in apexDefinitionProvider.js on line 27, replace with the following line. `Uri.parse` doesn't work.

`let def = new vscode.Location(vscode.Uri.file(obj.filePath), new vscode.Range(obj.line - 1, obj.column, obj.line, obj.column));`

[2017-06-13 15:03] IndigoTea commented on #21
@svelamoor - that worked a treat, thanks! @ChuckJonas - this extension has made working in Apex/VSCode far more usable - thanks to you as well!

[2017-06-13 16:52] ChuckJonas commented on #21
patch released!

[2017-06-13 16:52] #21 closed

[2017-06-13 17:23] svelamoor commented on #21
@ChuckJonas - Awesome! Thanks for the quick release!

[2017-06-15 14:19] jperezq opened #24 "tooling-force.jar does not get run when the path to it contains spaces"
Whenever the plugin tries to pull intellisense information I get this on the console:
[Extension Host] stderr: Error: Unable to access jarfile C:\Users\Javier

Then of course it is unable to connect to the service and continues with:
connect ECONNREFUSED 127.0.0.1:65000

I gather this is because spaces in the path to the jar file are not getting escaped properly and I have a space on the folder na

[2017-06-16 03:30] jamessimone commented on #16
@ChuckJonas because my apex completion / go to definition was still not working following your latest release, I spent some time monitoring the VS code output for your extension.  The thing that was killing me?  While my two team members had never had the code completion working correctly, I had - and it had made developing a breeze.  I wanted that breeze back.

I am wondering if the above stack t

[2017-06-22 22:34] ChuckJonas commented on #16
@jamessimone good work figuring that one out (crazy bug).  Unfortunately, this extension has started to get more unreliable for me as well and I haven't had the time to really dig into it

[2017-06-22 22:35] ChuckJonas commented on #22
for some reason, peak definition only seems to work if you have the app authenticated with your org.  Have you tried that?

[2017-06-22 22:36] ChuckJonas commented on #24
Thanks for submitting this.  I'll try to take a look as soon as I can

[2017-06-22 22:42] ChuckJonas commented on #24
@jperezq I just released an update with a potential fix from @Codeneos.  Could you test and let me know if it works now?

[2017-06-23 14:55] jamessimone commented on #16
@ChuckJonas I wouldn't worry about it too much.  We're all busy.  The plugin works fine on my work computer and intermittently on my home PC ... perhaps I'll get the chance this weekend to investigate what the story is with my own desktop.  Your contributions are more than appreciated, regardless.

[2017-06-27 22:38] jperezq commented on #24
Sorry, was not able to find time to look at this before. It's working great now. I still have performance issues with the huge project I'm working on, mirroring what was already discussed on #17 . I do understand that that's just how it is for now.

Thank you so much.

[2017-06-27 22:38] #24 closed

[2017-08-01 21:01] rbarna1 opened #26 "Very high CPU usage on tooling-force.jar"
I took the latest updates to VSCode yesterday (July 31) and ever since, the Salesforce Language Support plugin Java process has been taking 100% CPU on my Win 10 machine.  Is there a known reason for this?
I notice as well that this Java process does not kill when closing down VSCode (screenshot attached)

![image](https://user-images.githubusercontent.com/821154/28846794-b89313fc-76da-11e7-90ad-6

[2017-08-02 02:47] ChuckJonas commented on #26
Ya, I've been experiencing similar issues in recent updates (actually going back into May).  Does the auto-complete still respond?

I've been meaning to dig into this, but haven't been able to find the time.

[2017-08-02 11:50] rbarna1 commented on #26
Yeah, I think it does.  I've been having to kill the process lately, because, well, 100% CPU is too much to give.  But while running I think it has been working.

[2017-08-04 15:01] ChuckJonas commented on #26
how many apex classes do you have in your project?

also, you could try increasing the latency on `apexAutoComplete.checkSyntaxDelay` (up to about `1500` the delay isn't horrible) and see if that helps at all.

[2017-08-22 15:39] mgarf opened #27 "Stuck in Awaiting Connection..."
I tried change the ports but still getting the same issue. Any suggestions? a specific port i should try or anything else I can do to get this moving?

[2017-08-22 16:12] ChuckJonas commented on #27
@mgarf could you provide some more detail?

- Actions you are taking
- Results you are expecting
- OS & plugin configuration
- Log output `Show Salesforce Language Support Debug output`

[2017-08-22 17:52] mgarf commented on #27
*Actions*

Open a pre-existing salesforce repo used in CLI

*Results*

See it in the output scanning all the metadata files

*OS/Plugin*

Windows 10. No plugin configuration, tried different ports but they didnt work

*Log Output*

Starting Language Server. CMD: java -Dfile.encoding=UTF-8  -jar "C:\Users\michael.garfinkel\.vscode\extensions\chuckjonas.apex-autocomplete-0.2.13\bin\tooling-force.jar

[2017-08-24 20:40] ChuckJonas commented on #27
@mgarf

Everything above seems as expected.  `Awaiting connection...` just means the language service is running and waiting for commands from visual studio code.

I would recommend setting the Username/Password (required for most functionality to work), opening up an apex class and trying to perform and operation (code completion, definitions peaking, list symbols).

The readme should provide pre

[2017-09-13 23:12] doug-episource opened #28 "Cannot start Extension: Address already in use"
I see that this issue has been reported before, but the current version I am using I cannot start due to the "_java.net.BindException: Address already in use (Bind failed)_" error.

I have tried two different systems:
**VS Code: v 1.16**
**Salesforce Language Support: 0.2.13**
**Java: v 1.8.0.131**
**OS: Windows 10, Mac 10.12.6**

I have tried several different ports on each machine and verified e

[2017-09-21 17:19] ChuckJonas commented on #28
I'm not sure...

Can you paste the result of executing `sudo lsof -i | grep LISTEN` from your terminal?  Should show you all the processing using ports

[2017-10-06 16:20] doug-episource commented on #28
Sorry for the delay -- I've been swamped.

Here are the results (now on VS Code: v 1.17.0):
### Fresh reboot

#### Before Opening VS Code:
[code]

#### Opened empty VS Code (no Salesforce Project loaded):
Starting Language Server. CMD: java -Dfile.encoding=UTF-8  -jar "/Users/------------/.vscode/extensions/chuckjonas.apex-autocomplete-0.2.13/bin/tooling-force.jar" --action=serverStart --port=8888

[2017-10-06 18:07] ChuckJonas commented on #28
@doug-episource here is the [stack overflow solution](https://stackoverflow.com/questions/12737293/how-do-i-resolve-the-java-net-bindexception-address-already-in-use-jvm-bind#answer-12737392) related to the error.

Just to confirm, if you run `lsof -i:8888`, nothing is returned?

If not, maybe @neowit has some idea why it's failing.

[2017-10-06 18:50] doug-episource commented on #28
Yes, after a fresh reboot, nothing is listening on port:8888. After opening VS Code (no Salesforce project open yet) I get "java" listening on port:8888
[code]
Then, opening a Salesforce project, triggers the above error.

[2017-10-07 11:34] neowit commented on #28
Let's assume that you do not have any other VSCode extensions (other than `apex-autocomplete`) capable of auto-starting java process listening on port 8888.

At first glance it looks like something in your VSCode config is triggering autoload of `apex-autocomplete` when editor is loaded. I am guessing this is not expected behaviour.

When apex project is loaded "apex-autocomplete" extension is loa

[2017-10-18 19:06] doug-episource commented on #28
To address the idea that another extension could be triggering a reload, I **completely** uninstalled VSCode from my machine, made sure all files (extensions, etc...) were removed, and reinstalled *just* this extension. I experienced the exact same behavior as above.

[2017-10-18 22:49] ChuckJonas commented on #28
@doug-episource its possible that you are getting the error because the service is already running...

For example, if I open 2 vscode windows, the second window will show the same error you are getting.

What happens if you open a .cls file and make some changes?  You should see something along the lines of `Sending CMD: --action=....`

[2017-11-12 07:49] nchursin opened #29 "Failed to create folder: /undefined/.vim-force.com"
HI,
I'm developing a plugin for Apex in VSCode and have an issue when trying to insert code if I have a file opened without a project folder. Your plugin throws an exception if a file is opened not in a project folder, but separately. The error thrown is `Failed to create folder: /undefined/.vim-force.com`. I'd suggest checking if you actually have a project folder.
It's definitely a rare case but

[2017-11-13 19:27] ChuckJonas commented on #29
thanks i'll take a look

[2018-04-11 12:03] VorenusPullo opened #30 "vscode-apex-autocomplete Not working"
I have got a weird problem.The auto complete is NOT working even for Apex. I am a complete newbie in Salesforce. I installed VS Code and then installed all the Salesforce extensions (https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode) . I then created a sample project(using sfdx command on Git Bash) to start my learning and created a class. But, Somehow, the autocom

[2018-04-11 13:58] #30 closed, assigned to nobody

[2018-04-11 13:59] VorenusPullo commented on #30
Never Mind. I had to set Java Runtime in VSCode-->File-->Setting. Thanks!

[2018-04-12 17:16] ChuckJonas commented on #30
hmmm ya I'm not sure how this extension will work side by side with the official salesforce ones..  They kinda provide the same functionality.

[2018-05-13 17:24] alexandrgoryachko opened #31 "Autocomplete doesn't work on the scratch org"
I created scratch org with using sfdx tools. The structure of the files on sfdx project differs from the usual project. I added org creditionals to my workspace settings to get completions on SObject & SOQL Queries. And now I can't get any field from sObject in a SOQL query. Could you find the problem between the scratch org and autocomplete extension.

[2018-05-13 19:57] ChuckJonas commented on #31
I don't see any reason why it wouldn't work, as long as you [generated a password](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_scratch_orgs_passwd.htm) for it and set up the workspace for the extension properly.

I'd try maybe just reloading vscode...

[2018-05-14 06:42] alexandrgoryachko commented on #31
@ChuckJonas I reloaded vscode, it doesn't help. The response is empty for scratch org in contrast to usual org:
![joxi](https://user-images.githubusercontent.com/17109581/39981866-170fc838-575b-11e8-94e5-2883b379375a.jpg)

[2018-05-16 14:56] ChuckJonas commented on #31
you've already pushed `TG_Timesheet__c` to the scratch org, correct?  Do other types of SObject auto-complete work.  EG:

[code]

[2018-05-16 15:08] alexandrgoryachko commented on #31
@ChuckJonas Yes, TG_Timesheet__c already pushed the custom object. With standard objects(Account) the problem remains

[2018-09-13 09:56] balderm opened #32 "Syntax Error spam in log when Check Syntax is enabled"
The following happens as you type something and the extension tries to check the syntax.
I'm using stock settings (400ms delay and CheckSyntax enabled) with latest VSCode x64 (1.27.1), and JAVA_HOME set to jdk 1.8.0 121 x64

[code]

[2018-09-13 19:42] ChuckJonas commented on #32
I think that's expected. The output here is only for debugging purposes (makes reporting issues easier).  Can you just hide it?

[2018-11-08 08:10] jgallagants commented on #28
Hello!

I am experiencing the same behaviour when trying to use this extension. Has been there any solution or progress in the matter?

Thank you very much.

[2019-02-11 16:04] HardisDeployUser opened #33 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `apex-autocomplete`
- Extension Version: `0.2.13`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\gadu\chuckjonas.apex-autocomplete-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-exte

[2019-04-25 19:47] khmerforce opened #34 "Autocomplete is not working"
This is what I get from the Apex Autocomplete Output. Do you have any idea why?

Starting Language Server. CMD: java -Dfile.encoding=UTF-8  -jar "c:\Users\khmerforce\.vscode\extensions\chuckjonas.apex-autocomplete-0.2.13\bin\tooling-force.jar" --action=serverStart --port=65000 --timeoutSec=1800
[ERROR] Executor - java.net.BindException: Address already in use: JVM_Bind

[ERROR] Executor - 	at java

[2019-04-25 19:58] khmerforce commented on #34
I try to peek definition and it doesn't work also. Please help.

[2019-04-26 02:42] ChuckJonas commented on #34
Looks like something else is already running on the same port that the tooling-force service is attempting to start on.  See this [StackOverflow post](https://stackoverflow.com/questions/2772701/address-already-in-use-jvm-bind-java) on how to debug

[2019-05-01 22:12] khmerforce commented on #34
@ChuckJonas This is what I get from the output. Not sure why...

Sending CMD: --action=findSymbol  --projectPath='c:\Users\testing\salesforce-code' --responseFilePath='c:\Users\testing\.vscode\extensions\chuckjonas.apex-autocomplete-0.2.13\bin\findSymbolResult.json' --pollWaitMillis=1000 --maxPollRequests=1000 --currentFilePath='c:\Users\testing\salesforce-code\Apptest\force-app\main\default\class

[2019-10-10 03:36] ghost opened #35 "Salesforce Language Performance Issue"
- Issue Type: `Bug`
- Extension Name: `apex-autocomplete`
- Extension Version: `0.2.13`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.38.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-01-20 16:50] HamerAWPRx opened #36 "Upsert Using External Id Throwing Warning"
Attempting to upsert a list of records and getting an unexpected warning that as far as I can tell is inaccurate. Per documentation found at ([Apex DML Examples - Upsert](https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/langCon_apex_dml_examples_upsert.htm))

[code]
I'm seeing the following warning for the upsert line:
"message": "extraneous input 'External_ID__c' expecting

[2020-05-19 16:49] jerhewet commented on #22
In my case the request to get definitions seems to be crashing.

Awaiting connection...

Client connected from /127.0.0.1:51120

received command: --action=listCompletions  --projectPath='[path removed]' --responseFilePath='[%USER%]\.vscode\extensions\chuckjonas.apex-autocomplete-0.2.13\bin\listCompletionsResult.json' --pollWaitMillis=1000 --maxPollRequests=1000 --currentFilePath='[path removed]\f

[2020-05-20 21:35] jerhewet commented on #28
Experiencing the same problem.  Was this ever resolved?